<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	
	<!-- 필터보다 위에 -->
	<context-param>
		<param-name>contextClass</param-name>
		<param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
	</context-param>
	
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>me.lee.AppConfig</param-value>
	</context-param>
	
	
	<!-- 필터 등록 -->
	<filter>
		<filter-name>myFilter</filter-name>
		<filter-class>me.lee.MyFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>myFilter</filter-name>
		<servlet-name>hello</servlet-name> <!-- hello라는 서블릿에다가 적용 -->	
	</filter-mapping>
	
	<!-- 리스너 등록 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!--contextLoaderListener가 contextClass와 contextConfigLocation의 정보를 가지고 만듬 -->
	<!-- 서블릿에서는 애플리케이션 컨텍스트에 등록된 것을 꺼내서 사용할 수 있다. IoC컨테이너 활용-->
	
	
	<servlet>
		<servlet-name>hello</servlet-name>
		<servlet-class>me.lee.HelloServlet</servlet-class>		
	</servlet>
	<!-- servlet 맵핑 -->
	<servlet-mapping>
		<servlet-name>hello</servlet-name>
		<url-pattern>/hello</url-pattern>
	</servlet-mapping>
</web-app>
